* {
  font-family: Tahoma, sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
}

.container {
  width: 700px;
  margin: 50px auto;
  text-align: justify;
  background-color: #eee;
  padding: 40px;
  border-radius: 20px;
}

h1,
h2 {
  text-align: center;
}

h1 {
  margin-bottom: 20px;
}

h2 {
  margin-bottom: 15px;
}

.description {
  line-height: 1.5rem;
  margin-bottom: 15px;
}

.recipe-img {
  display: block;
  margin: 15px auto;
  border-radius: 10px;
}

ul,
ol {
  margin-left: 20px;
}

li {
  margin-bottom: 1rem;
}
